@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@media (min-width: 480px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 100% !important;
  }

}

:root {
  --primary: #5B5A5A;
  --secondary: #789BC4;
  --light-grey: #E2E2E2;
  --white: #FDFFFF;
  --playfair: "Playfair Display", serif;
  --lato: "Lato", sans-serif;
}

body {
  font-family: var(--lato);
}

#supernav {
  background-color: var(--light-grey);
  backdrop-filter: blur(5px);
  border-bottom: none;
  position: fixed;
  left: 5%;
  right: 5%;
  margin: 5% auto 0 auto;
  width: 80%;
  border-radius: 50px;
  box-shadow: 0 0px 0px 0 rgba(67, 67, 67, 0.4), 0 0px 10px 0 rgba(67, 67, 67, 0.4);
  z-index: 2;
  font-size: 100% !important;
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#supernav ul {
  flex-wrap: wrap;
  padding: 0.3rem;
  align-items: center;
  font-size: small;
  gap: 16px;
}

.sign-up,
.log-out {
  background-color: var(--secondary);
  padding: 1rem 1.8rem;
  border-radius: 30px;
  color: var(--white) !important;
  border: solid 2px var(--secondary);
  box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4) !important;
}

.checkout {
  background-color: var(--primary);
  padding: 1rem 1.8rem;
  border-radius: 30px;
  color: var(--white) !important;
  border: solid 2px var(--primary);
  box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4) !important;
}

.sign-up:hover,
.log-out:hover {
  border: solid 2px var(--secondary);
  color: black !important;
  background-color: var(--light-grey);
}

.checkout:hover {
  border: solid 2px var(--secondary);
  color: black !important;
  background-color: var(--secondary);
  color: white !important;
  box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4) !important;
}

#navbar-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  align-items: center;
}

#navbar-logo img {
  min-height: 48px;
}

#openai-logo {
  background-image: url('./assets/openai.svg');
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}

#openai-logo:hover {
  background-image: url('./assets/openai-hover.svg') !important;
  box-shadow: 0 0px 0px 0 rgba(67, 67, 67, 0.4), 0 0px 10px 0 rgba(67, 67, 67, 0.4);
}

input:focus-visible {
  outline: solid 1px var(--secondary) !important;
}

/* HOMEPAGE */
#hero {
  margin: 0 auto;
}

#logo {
  padding-top: 50%;
  width: 90%;
  padding-bottom: 30%;
}

/* INTRO */
h1 {
  font-size: 3rem !important;
  color: var(--secondary);
  font-family: var(--playfair);
  line-height: 3rem !important;
}

h2 {
  font-size: medium;
  font-family: var(--playfair);
  color: var(--secondary);
}

h3 {
  color: var(--primary);
}

.container p {
  font-size: 16px;
  color: var(--primary);
}

#text-intro p {
  font-size: 16px;
  color: var(--primary);
}

/* SLIDER */
.container {
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  width: 100%;
  height: auto;
  padding: 4% 10%; /* Add padding to show part of the adjacent slides */
  position: relative;
}

.tranding-slide {
  width: 80%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the slide */
}

@media (max-width: 500px) {
  .swiper {
    padding: 0 5%; /* Adjust padding for mobile devices */
  }

  .tranding-slide {
    width: 90%; /* Adjust the width to show more of the adjacent slides */
  }

  .tranding-slide .tranding-slide-img img {
    width: 100%;
    height: auto;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 100%;
  max-width: 37rem;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-img {
  position: relative;
  cursor: pointer; /* Add cursor pointer for better UX */
  box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4); /* Apply shadow */
  border-radius: 2rem; /* Apply border-radius */
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important; /* Ensure they are completely disabled */
}

.swiper-slide {
  box-shadow: none !important; /* Disable any other shadows */
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px); /* Blur effect */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 2rem; /* Apply border-radius */
  box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4); /* Apply shadow */
  z-index: 10;
}

.clicked {
  backdrop-filter: blur(5px) !important;
}

.clicked .overlay {
  opacity: 1;
}

.enter-button,
.login-button,
.signup-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 10px; /* Added margin for spacing between buttons */
}

.enter-button:hover,
.login-button:hover,
.signup-button:hover {
  background-color: var(--secondary);
  color: #ffffff;
}

.swiper-slide {
  z-index: 1; /* Ensure other slides are beneath the overlay */
}

.swiper-slide-active {
  z-index: 5; /* Ensure active slide is above other slides */
}

/* SUBSCRIPTION BLOCK */
.sub-title {
  color: var(--secondary);
}

#price {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--primary);
}

.dollar {
  color: var(--primary);
}

#subscription-block button {
  background-color: var(--secondary);
}

#subscription-block li {
  color: var(--primary);
}


/* CHAT GPT BLOCK */

#chat-gpt button {
  background-color: var(--secondary);
}

/* CONTACT FORM */

textarea:focus-visible {
  outline: solid 1px var(--secondary) !important;
}

.focus\:ring-opacity-50:focus {
  --tw-ring-opacity: 0.5;
}

form .button {
  background-color: var(--primary);
}

form .button:hover {
  background-color: var(--secondary);
}

.success p{
  color: green;
}

/* LOGIN - SIGN UP FORM */

.switch-form {
  margin: 1.5rem;
}

.switch-button {
  color: var(--secondary);
  font-weight: 800;
}

/* FOOTER */
#footer button {
  background-color: var(--secondary);
  min-width: 110px;
  max-height: 40px;
  font-size: 12px;
}

.git-buttons {
  gap: 1.6rem;
}

#footer button:hover {
  background-color: var(--primary);
}

.custom-footer-button {
  background-color: var(--secondary) !important;
  min-width: 110px;
  max-height: 40px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.custom-footer-button:hover {
  background-color: var(--primary) !important;
}




/* TABLET AND DESKTOP */

@media (min-width: 992px) {
      .lg\:top-10 {
          top: .59rem !important;
      }

      .lg\:right-9 {
        right: -10rem !important;
      }
  }



@media only screen and (min-width: 992px) {
  #supernav {
    margin: 1% auto 0 auto;
    width: 50%;
    flex-direction: row;
  }

  #supernav ul {
    gap: 20px;
  }

  .nav-desktop {
    width: 150%;
    justify-content: flex-end;
  }

  #logo {
    padding-top: 20%;
    padding-bottom: 15%;
    width: 50%;
  }

  #intro p {
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
  }

  h1 {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }

  #tranding p {
    width: 70%;
    margin: 0 auto;
  }

  #subscription-text p {
    width: 70% !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 500px) {
  .tranding-slide,
  .tranding-slide .tranding-slide-img,
  .overlay {
    box-shadow: 0 0px 10px 0 rgba(67, 67, 67, 0.4) !important;
    border-radius: 2rem !important;
  }

}

