/* Navbar styles removed */

/* Welcome Section */
.welcome {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  position: absolute;
}

.text {
  flex: 1;
  padding: 20px;
  font-family: 'Alegreya', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  text-justify: inter-word;
  color: #1c1f23;
}

.image {
  flex: 2;
  padding: 20px;
}

/* Header */
h3 {
  font-family: 'Gotham', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  border-left: 2px solid black;
  padding-left: 10px;
}

.header {
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  font-family: 'Gotham', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
}

/* Gallery Section */
.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.gallery-section button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1c1f23;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
}
