/* General styling for the chat container */
.openai-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 270px;
  height: 330px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 10px;
  overflow-y: auto; 
  border-radius: 10px;
}

/* Styling for the toggle image */
.bottom-left-img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

/* Styling for the textarea */
input {
  width: auto;
  height: 10%;
  margin-bottom: 10px;
}

/* Styling for the button */
button {
  width: 100%;
}

/* Styling for error messages */
.error {
  color: red;
}

/* Styling for dialog container */
.dialog-container {
  height: 200px;
  overflow-y: auto; 
}

/* Styling for dialog entries */
.dialog-entry {
  margin-bottom: 1rem;
}

/* Styling for questions */
.question {
  font-weight: bold;
  color: blue;
}

/* Styling for answers */
.answer {
  font-weight: bold;
  color: green;
}
